.form-button {
  background: #2b46ff;
  font: inherit;
  border: 1px solid #2b46ff;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  color: white;
  cursor: pointer;
  &:hover,
  &:active{
    background: #007bff;
    border-color: #007bff;
  }
}